<%= render "shared" %>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-12" align="center">
      <table class="table table-striped table-bordered">
        <thead>
          <h1> Calvin is the Admin Portal </h1>
          <tr>
            <th>Product_id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>     
          </tr>
        </thead>
        <tbody>
          <% @products.each do |pro|%>
            <tr>
              <td><%=pro.id%></td>
              <td><%=pro.productname%></td>
              <td><%=pro.productdesc%></td>
              <td><%=pro.price%></td>
              <td><%=pro.catdesc%></td>
              <td><%=link_to"Show", portalproduct_path(pro) %></td>
              <td><%=link_to"Edit", edit_portalproduct_path(pro)%></td>
              <td> <%= link_to "Delete", portalproduct_path(pro), method: :delete%></td>
            </tr>
          <%end%>
        </tbody>
      </table> 
    </div>
  </div>
</div>