<h1> The show page for user <%=@product.id%> </h1>
<br>
Product: <%=@product.name%>
<br>
Product Description: <%= @product.description%>
<br> 
Price: <%= @product.price %>
<br>
<%= link_to "Home", portalproducts_path %>
<br>

<h4> <%= link_to "Delete", portalproduct_path(@product), method: :delete%>
